# Mutant v23.08

## 1. Change Logs
- Modify TP/SL to 0.6%/1.8%

## 2. Backtest Method
    30 days as a group, randomly choose 30 continuos 30 days to see the performance

In [9]:
import pandas as pd
import talib as ta
# from talib import stream

raw_data = "./data/BTCUSDT1708-2303.csv"

## 3. Load data

In [2]:
df = pd.read_csv(raw_data)

In [30]:
testdf = df[-200:]
testdf

                        date      open      high       low     close    volume
2947319  2023-03-31 20:40:00  28421.08  28424.75  28417.74  28424.75  18.84216
2947320  2023-03-31 20:41:00  28424.75  28425.29  28422.06  28422.06  21.83729
2947321  2023-03-31 20:42:00  28422.06  28428.04  28422.06  28425.60  21.90967
2947322  2023-03-31 20:43:00  28425.59  28430.18  28422.06  28430.17  22.18210
2947323  2023-03-31 20:44:00  28430.17  28442.25  28430.17  28442.24  14.74868
...                      ...       ...       ...       ...       ...       ...
2947514  2023-03-31 23:55:00  28466.11  28479.73  28466.10  28479.73  28.60613
2947515  2023-03-31 23:56:00  28479.73  28483.14  28476.25  28478.40  12.18377
2947516  2023-03-31 23:57:00  28478.40  28478.40  28471.01  28471.02   6.63689
2947517  2023-03-31 23:58:00  28471.02  28471.63  28471.01  28471.63   4.66062
2947518  2023-03-31 23:59:00  28471.62  28473.13  28465.36  28465.36   7.09914

[200 rows x 6 columns]

In [32]:
close = testdf['close'].to_numpy()
close

array([28424.75, 28422.06, 28425.6 , 28430.17, 28442.24, 28425.62,
       28426.75, 28443.95, 28474.05, 28462.48, 28469.44, 28426.16,
       28440.38, 28440.39, 28439.57, 28433.27, 28421.  , 28378.27,
       28376.94, 28391.8 , 28405.69, 28401.39, 28386.33, 28366.94,
       28386.32, 28383.19, 28400.92, 28386.47, 28399.06, 28392.48,
       28393.98, 28393.97, 28391.25, 28391.26, 28389.97, 28407.44,
       28404.5 , 28404.49, 28400.58, 28402.41, 28399.01, 28425.13,
       28433.66, 28435.73, 28448.03, 28449.03, 28459.99, 28450.05,
       28442.75, 28441.27, 28438.01, 28444.65, 28444.65, 28446.03,
       28452.29, 28474.92, 28485.73, 28496.16, 28489.57, 28492.25,
       28496.41, 28475.22, 28498.17, 28500.15, 28501.22, 28504.99,
       28480.  , 28467.12, 28490.08, 28509.51, 28567.73, 28535.16,
       28493.72, 28503.65, 28516.76, 28515.39, 28478.84, 28472.01,
       28470.01, 28477.19, 28466.19, 28467.71, 28468.44, 28457.44,
       28467.7 , 28510.  , 28505.97, 28490.9 , 28490.91, 28497.57,
       28503.55, 28527.78, 28503.6 , 28496.12, 28484.37, 28509.07,
       28515.38, 28520.88, 28524.44, 28571.28, 28558.57, 28582.1 ,
       28600.  , 28599.17, 28599.28, 28583.57, 28586.51, 28563.74,
       28557.69, 28568.68, 28564.51, 28542.54, 28564.99, 28547.67,
       28544.75, 28549.31, 28540.34, 28561.62, 28600.01, 28597.99,
       28583.57, 28589.29, 28573.84, 28574.64, 28566.71, 28585.98,
       28582.55, 28562.97, 28547.34, 28556.63, 28569.99, 28564.64,
       28571.14, 28566.84, 28568.14, 28569.36, 28565.61, 28574.08,
       28584.11, 28570.31, 28563.38, 28555.47, 28571.04, 28575.28,
       28583.28, 28588.48, 28582.04, 28577.59, 28574.72, 28561.34,
       28551.67, 28547.35, 28537.87, 28536.77, 28526.39, 28527.6 ,
       28545.55, 28539.6 , 28530.27, 28518.8 , 28531.19, 28531.85,
       28520.  , 28522.94, 28519.8 , 28526.  , 28542.39, 28547.77,
       28550.73, 28550.73, 28538.92, 28535.01, 28524.11, 28519.85,
       28516.76, 28526.4 , 28529.69, 28524.11, 28524.31, 28521.97,
       28493.62, 28499.81, 28503.33, 28481.41, 28470.24, 28491.57,
       28495.  , 28490.37, 28492.13, 28498.99, 28491.57, 28478.53,
       28475.1 , 28475.32, 28466.1 , 28479.73, 28478.4 , 28471.02,
       28471.63, 28465.36])